Screen {
    background: #11161d;
    color: white;
}

Header {
    background: #1c2733;
    color: white;
}

Footer {
    background: #1c2733;
    color: white;
}

Horizontal {
    height: 100%;
}

Vertical {
    width: 1fr;
    height: 100%;
}

Sidebar {
    width: 24;
    border: round #3b82f6;
    background: #181f27;
    padding: 1;
    margin: 1;
}

MatchTable {
    width: 100%;
    height: 1fr;

    border: round #3b82f6;

    background: #181f27;

    margin: 1 1 0 1;
}

EventFeed {
    height: 10;

    border: round #10b981;

    background: #181f27;

    margin: 0 1 1 1;

    padding: 1;
}