Screen {
    background: #11161d;
    color: white;
}

Footer {
    background: #1c2733;
    color: white;
}

Horizontal {
    height: 100%;
}

Vertical {
    width: 1fr;
    height: 100%;
}

AppHeader {
    height: 2;

    background: #1c2733;

    color: white;

    border-bottom: heavy #3b82f6;

    padding: 0 2;

    margin: 0;
}

Sidebar {
    width: 24;

    border: round #3b82f6;

    background: #181f27;

    padding: 1;

    margin: 1;
}

DashboardCards {
    height: 6;

    margin: 1 1 0 1;

    width: 100%;
}

DashboardCard {
    width: 1fr;

    border: round #3b82f6;

    background: #181f27;

    color: white;

    content-align: center middle;

    margin-right: 1;
}

MatchTable {
    width: 100%;

    height: 1fr;

    border: round #3b82f6;

    background: #181f27;

    margin: 0 1;
}

MatchSummary {
    height: 13;

    border: round #f59e0b;

    background: #181f27;

    margin: 1;

    padding: 1;
}

EventFeed {
    height: 7;

    border: round #10b981;

    background: #181f27;

    margin: 0 1 1 1;

    padding: 1;
}

StatusBar {
    height: 1;

    background: #1c2733;

    color: white;

    padding: 0 1;
}